nz-layout {
  min-height: 100%;
  max-height: 100%;
}

nz-sider {
  max-height: 100vh;
  min-height: 100vh;
  background-color: white;
  width: 25rem !important;
  max-width: 25rem !important;
  min-width: auto !important;
}

.sider-menu {
  max-height: calc(100vh - 2rem);
  overflow-y: scroll;
}


.inner-content {
  min-height: 360px;
}


.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

[nz-form-label] {
  overflow: visible;
}

button {
  margin-left: 8px;
}

.collapse {
  margin-left: 8px;
  font-size: 12px;
}

.search-area {
  text-align: right;
}

.unit-entry {
  cursor: pointer;
}


.multi-color-textarea {
  text-align: start;
  height: 150px;
  overflow-y: auto;
  word-wrap: break-word;
}

.multi-color-textarea {
  border: 1px solid #26272b;
}


.editor {
  text-align: right;
}

.card-header {
  text-align: center;
}
