<div class="container-fluid">
  <div class="row" style="max-height: 100vh">
    <div class="col-3"> <!-- Unit List -->
      <div class="row">
        <form>
          <div class="form-group form-inline">
            Search: <input class="form-control ml-2" type="text" [formControl]="filterForm.controls.filterValue"/>
          </div>
        </form>
      </div>

      <div class="row" style="max-height: calc(100vh - 110px);overflow-y: scroll;">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Suffix</th>
          </tr>
          </thead>
          <tbody>
          <tr (click)="SelectUnit(entry)"
              [ngClass]="selectedUnit && entry.key === selectedUnit.key ? 'bg-primary' : ''"
              class="unit-entry"
              *ngFor="let entry of FilteredUnitMap | keyvalue; index as i">
            <th scope="row">{{ entry.key }}</th>
            <td>
              {{ FormattedText(entry.value.GetName()) }}
            </td>
            <td>
              {{ entry.value.unsf }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col editor"> <!-- Editor -->
      <div *ngIf="selectedUnit">
        <form [formGroup]="currentForm" style="max-height: 100vh; overflow-y: scroll">
          <!-- Section Abilities -->
          <div class="card">
            <h5 class="card-header">Techtree</h5>
            <div class="card-body">
              <app-string-field formControlName="uabi" fieldName="uabi"></app-string-field> <!-- Unit Abilities -->
              <app-string-field formControlName="udaa" fieldName="udaa"></app-string-field> <!-- Default Active Ability -->
            </div>
          </div>
          <!-- End Section Abilities -->

          <!-- Section Combat -->
          <div class="card">
            <h5 class="card-header">Combat</h5>
            <div class="card-body">
              <app-integer-field formControlName="uacq" fieldName="uacq"></app-integer-field> <!-- Unit Acquisition Range -->
              <app-drop-down-select-field
                [options]="worldEditService.ArmourTypes"
                formControlName="uarm"
                fieldName="uarm">
              </app-drop-down-select-field> <!-- Unit Armour type -->
              <app-integer-field formControlName="ubs1" fieldName="ubs1" [step]="0.1"></app-integer-field> <!-- Animation Backswing Point - 1 -->
              <app-integer-field formControlName="udp1" fieldName="udp1" [step]="0.1"></app-integer-field> <!-- Animation Damage Point - 1 -->
              <app-integer-field formControlName="ua1f" fieldName="ua1f"></app-integer-field> <!-- AOE (Full) - 1 -->
              <app-integer-field formControlName="ua1h" fieldName="ua1h"></app-integer-field> <!-- AOE (Meduim) - 1 -->
              <app-integer-field formControlName="ua1q" fieldName="ua1q"></app-integer-field> <!-- AOE (Small) - 1 -->
              <app-target-list-field formControlName="ua1g" fieldName="ua1g"></app-target-list-field> <!-- AOE Targets 1 -->
              <app-drop-down-select-field
                [options]="worldEditService.AttackTypes"
                formControlName="ua1t"
                fieldName="ua1t">
              </app-drop-down-select-field> <!-- Attack type 1 -->
              <app-integer-field formControlName="ua1c" fieldName="ua1c" [step]="0.1"></app-integer-field> <!-- Cooldown Time - 1 -->
              <app-integer-field formControlName="ua1b" fieldName="ua1b"></app-integer-field> <!-- Damage Base - 1 -->
              <app-integer-field formControlName="uhd1" fieldName="uhd1"></app-integer-field> <!-- Damage Factor medium - 1 -->
              <app-integer-field formControlName="uqd1" fieldName="uqd1"></app-integer-field> <!-- Damage Factor small - 1 -->
              <app-integer-field formControlName="udl1" fieldName="udl1"></app-integer-field> <!-- Damage loss factor - 1 -->
              <app-integer-field formControlName="ua1d" fieldName="ua1d"></app-integer-field> <!-- Damage number of dice - 1 -->
              <app-integer-field formControlName="ua1s" fieldName="ua1s"></app-integer-field> <!-- Damage sider per die - 1 -->
              <app-integer-field formControlName="usd1" fieldName="usd1"></app-integer-field> <!-- Damage spill distance - 1 -->
              <app-integer-field formControlName="usr1" fieldName="usr1"></app-integer-field> <!-- Damage spill radius - 1 -->


            </div>
          </div>
          <!-- End Section Combat -->

          <!-- Section TechTree -->
          <div class="card">
            <h5 class="card-header">Techtree</h5>
            <div class="card-body">
              <app-string-field formControlName="usei" fieldName="usei"></app-string-field> <!-- Items Sold -->
              <app-string-field formControlName="ureq" fieldName="ureq"></app-string-field> <!-- Unit Requirements -->
              <app-string-field formControlName="ubui" fieldName="ubui"></app-string-field> <!-- Structures built -->
<!--              <app-string-field formControlName="useu" fieldName="useu"></app-string-field> &lt;!&ndash; Units Sold &ndash;&gt;-->
              <app-string-field formControlName="uupt" fieldName="uupt"></app-string-field> <!-- Upgrades to -->
            </div>
          </div>
          <!-- End Section TechTree -->

          <!-- Section Text -->
          <div class="card">
            <h5 class="card-header">Text</h5>
            <div class="card-body">
              <app-string-field formControlName="unam" fieldName="unam"></app-string-field> <!-- Unit Name -->
              <app-string-field formControlName="unsf" fieldName="unsf"></app-string-field> <!-- Unit Suffix -->
              <app-string-field formControlName="uhot" fieldName="uhot"></app-string-field> <!-- Unit Hotkey -->
              <app-string-field formControlName="utip" fieldName="utip"></app-string-field> <!-- Unit ToolTip - basic -->
              <div class="form-group row">
                <label for="utub" class="col-sm-2 col-form-label">{{worldEditService.FieldToName('utub')}}</label>
                <div class="col-sm-10">
                  <div style="display: flex; overflow-x: hidden;">
                                        <textarea
                                          class="form-control"
                                          id="utub"
                                          aria-describedby="tooltip - extended"
                                          formControlName="utub"
                                          [placeholder]="worldEditService.FieldToName('utub')"></textarea>
                    <div id="unit-preview"
                         style="overflow-y: scroll;"
                         class="form-control multi-color-textarea"
                         [innerHTML]="FormattedText(currentForm.value.utub) | safe: 'html'">
                      Loading
                    </div>
                  </div>
                  <div class="btn btn-block div-btn" tabindex="-1" (click)="generateUnitTooltip()">
                    Generate Tooltip
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Section Text -->


        </form>
      </div>
    </div>
  </div>
</div>


<!--<nz-layout>-->
<!--  <nz-sider>-->
<!--    <form nz-form [nzLayout]="'inline'" [formGroup]="filterForm">-->
<!--      <nz-form-item>-->
<!--        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">-->
<!--          <input formControlName="filterValue" type="text" nz-input placeholder="Search units"/>-->
<!--        </nz-input-group>-->
<!--        <ng-template #suffixIconButton>-->
<!--          <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>-->
<!--        </ng-template>-->
<!--      </nz-form-item>-->
<!--    </form>-->
<!--    <ul nz-menu nzMode="inline" class="sider-menu" *ngIf="HasLoadedData()">-->
<!--      <li nz-menu-item *ngFor="let entry of FilteredUnitMap | keyvalue"-->
<!--          (click)="SelectUnit(entry)">{{entry.key}}{{entry.value.GetName()}}</li>-->

<!--    </ul>-->


<!--  </nz-sider>-->
<!--  <nz-content>-->
<!--    <div class="inner-content" *ngIf="selectedUnit">-->


<!--      <form [formGroup]="currentForm">-->
<!--          <div nz-row [nzGutter]="24">-->
<!--            <div nz-col [nzSpan]="8">-->
<!--              <nz-form-item nzFlex>-->
<!--                <nz-form-label [nzFor]="'field' + 'unam'">{{ WEStrings.get('unam')}}</nz-form-label>-->
<!--                <nz-form-control>-->
<!--                  <input-->
<!--                    nz-input-->
<!--                    placeholder="placeholder"-->
<!--                    [formControlName]="'unam'"-->
<!--                    [attr.id]="'field' + 'unam'"-->
<!--                  />-->
<!--                </nz-form-control>-->
<!--              </nz-form-item>-->
<!--            </div>-->


<!--          </div>-->
<!--          <div nz-row>-->
<!--            <div nz-col [nzSpan]="24" class="search-area">-->
<!--              <button nz-button [nzType]="'primary'">Search</button>-->

<!--            </div>-->
<!--          </div>-->


<!--        <div nz-row>-->
<!--          <div nz-col nzSpan="12">Currently editing {{selectedUnit.key}} - {{selectedUnit.value.GetName()}}</div>-->
<!--          <div nz-col nzSpan="12">based on {{selectedUnit.value.baseUnit}}</div>-->
<!--        </div>-->
<!--        <div nz-row>-->
<!--          <div nz-col nzSpan="8">-->
<!--            <span for="cb-unam" class="checkbox-custom-label">{{WEStrings.get('unam')}}</span>-->

<!--            <input class="checkbox-custom" type="text" id="cb-unam" formControlName="unam">-->
<!--          </div>-->
<!--          <div nz-col nzSpan="8">col-8</div>-->
<!--          <div nz-col nzSpan="8">col-8</div>-->
<!--        </div>-->
<!--        <div nz-row>-->
<!--          <div nz-col nzSpan="6">col-6</div>-->
<!--          <div nz-col nzSpan="6">col-6</div>-->
<!--          <div nz-col nzSpan="6">col-6</div>-->
<!--          <div nz-col nzSpan="6">col-6</div>-->
<!--        </div>-->
<!--      </form>-->


<!--    </div>-->

<!--  </nz-content>-->

<!--</nz-layout>-->

