
.multi-check {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: center; */
  width: 100%;
}

.multi-check > ul:not(:last-child) {
  padding-right: 15px;
}

.multi-check > ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

.multi-check label {
  padding-right: 5px;
  margin: 0;
}
